<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Bloggo</title>
</head>
<body>
    <%- include('./partials/nav') %>
    
    <div class="container mt-4">
        <h1 class="mt-3"><%= blog.title %></h1>
        <img class="mt-3" src="<%= blog.coverImageURL%>" width="700px">
        <div class="container mt-4  d-flex align-items-center ">
            <img src="<%= blog.createdBy.profileImageURL %>" width="50px"/>
            <h2>&nbsp;Created By:&nbsp;</h2>
            <h2><%= blog.createdBy.fullName%></h2> 
        </div>
        <pre class="mt-3"><%= blog.body %></pre>
    </div>

    <div class="container mt-4">
        <h2>Comments (<%= comments.length %>)</h2>
        <% if (locals.user) { %>
            <form action="/blog/comment/<%= blog._id %>" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" name="content" placeholder="Enter your comment">
                    <button class="btn btn-sm btn-primary" type="submit">Add</button>
                </div>
            </form>
        <% } %>
        <div class="mt-4">
            <% comments.forEach(comment => { %>
                <div class="mb-3">
                    <img src="<%= comment.createdBy.profileImageURL %>" width="50px"/>
                    <%= comment.createdBy.fullName%>
                    <pre><%= comment.content %></pre>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include('./partials/scripts') %>
</body>
</html>