<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Bloggo</title>
</head>
<body>
    <%- include('./partials/nav') %>
    
    <div class="container mt-4">
        <h1 class="mt-3"><%= blog.title %></h1>
        <img class="mt-3" src="<%= blog.coverImageURL%>" width="700px">
        <div class="container mt-4  d-flex align-items-center ">
            <img src="<%= blog.createdBy.profileImageURL %>" width="50px"/>
            <h2>&nbsp;Created By:&nbsp;</h2>
            <h2><%= blog.createdBy.fullName%></h2> 
        </div>
        <pre class="mt-3"><%= blog.body %></pre>
    </div>

    <%- include('./partials/scripts') %>
</body>
</html>